* {
  margin: 0;
}

.home {
  background-color: #fafafa;
}

h2{
  object-fit: contain;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  background-color: white;
}

.home__post{
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  padding: 20px;
}
